@font-face {
    font-family: Alkatra;
    src: url(../../fonts/Alkatra-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../fonts//Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Rajdhani;
    src: url(../../fonts/Rajdhani-Light.ttf);
}

.msgBox{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.msgBox .title{
    padding: 0px;
    color: white;
    text-align: center;
    font-family: Alkatra;
}   

.form{
    background: rgb(40,39,39);
    background: linear-gradient(90deg, rgb(56, 56, 56) 0%, rgba(62,62,62,1) 50%, rgba(102,98,98,1) 75%, rgb(59, 59, 59) 95%);
    border-radius: 25px;
    padding: 2vh 0px;
    margin: 0px 20vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.form input{
    padding: 10px;
    font-family: Montserrat;
}

.form .name{
    grid-column: span 2;
}

.form textarea{
    grid-column: span 2;
    height: 40vh;
    font-family: Montserrat;
}

.form button{
    background-color: rgb(245, 245, 245);
    padding: 1vh 0px;
    grid-column: span 2;
    border: none;
    border-radius: 5vw;
    font-family: Alkatra;
}

.form button:hover{
    color: white;
    background-color: #383840;
    cursor: pointer;
}