*{
    margin: 0;
    padding: 0;
}

.canvas{
    width: 100%;
    height: 100vh;
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(27,26,26,1) 25%, rgba(40,39,39,1) 50%, rgba(27,26,26,1) 75%, rgba(20,20,20,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}